// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.bold {
    font-weight: bold;
}

.orderTableHeader {
    display: inline-block;
}

.orderTableHeader span{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 20px;
}

.red {
    color: tomato;
}